<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CMS.My.MySettings.CMSDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\CMSDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CMS.My.MySettings>
            <setting name="ActiveColor" serializeAs="String">
                <value>67, 103, 133</value>
            </setting>
            <setting name="NonActiveColor" serializeAs="String">
                <value>244, 244, 244</value>
            </setting>
            <setting name="InAciveColor" serializeAs="String">
                <value>37, 37, 37</value>
            </setting>
        </CMS.My.MySettings>
    </userSettings>
</configuration>